footer{
    bottom: 0;
    width: 100%;
    background: #1b1b1b;
    color: #f0f8ff;
}
.footer-content{
    display: flex;
}
.footer-content .box{
    flex-basis: 50%;
    padding: 20px 20px;
}
.box .footer_title{
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #655cff 0%, #d986ff 100%);
}
.left .content .p_leftbox{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social .social_link{
    padding: 0 2px;
    color: #f0f8ff;
}
.left .content .social .social_link span{
    height: 40px;
    width: 40px;
    background: linear-gradient(90deg, #655cff 0%, #d986ff 100%);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    transition: all 0.1s;
}
.left .content .social .social_link span:hover{
    background: linear-gradient(90deg, #453fae 0%, #915aab 100%);
}
.center .content .fas{
    font-size: 18px;
    height: 40px;
    width: 20px;
    line-height: 40px;
    text-align: center;
}
.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 15px 0;
}
.right .contact_form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}
.right .contact_form .msg{
    margin-top: 10px;
}
.right .contact_form input, .right .contact_form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #2b2a2a;
    padding-left: 10px;
    border: 1px solid #222222;
    color: #d9d9d9;
}
.right .contact_form input:focus, .right .contact_form textarea:focus{
    outline-color: #655cff;
}
.right .contact_form input{
    height: 35px;
}
.right .contact_form .btn{
    margin-top: 10px;
}
.right .contact_form .btn .submit_btn{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #655cff 0%, #d986ff 100%);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .1s;
    border: none;
    border-radius: 50px;
}
.right .contact_form .btn .submit_btn:hover{
    background: linear-gradient(90deg, #453fae 0%, #915aab 100%);
}