.nav_li, .nav_a{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #f0f8ff;
}
header{ 
    top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20%;
    background: #1b1b1b;;
}
.fa-laptop-code{
    font-size: 45px;
    cursor: pointer;
    background: linear-gradient(90deg, #655cff 0%, #d986ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav_links{
    list-style: none;
}
.nav_links .nav_li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links .nav_li .nav_a:hover{
    background: linear-gradient(90deg, #655cff 0%, #d986ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-user{
    padding: 9px 25px;
    color: #ffffff;
    background: linear-gradient(90deg, #655cff 0%, #d986ff 100%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.fa-user:hover{
    background: linear-gradient(90deg, #453fae 0%, #915aab 100%);
}