@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap');
@import url('navbar.css');
@import url('footer.css');

html{
    height: 100%;
    color: #f0f8ff;
    background-color: #100F10;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main-content{
    width: 70%;
    margin: 0 auto;
}
.jugabilidad, .historia, .lanzamiento{
    background: #1b1b1b;
    width: 42%;
    padding: 20px;
    border-radius: 25px;
    text-align: justify;
}
.jugabilidad{
    width: 50%;
    margin: 40px auto;
}
.lanzamiento{
    width: 50%;
    margin: 40px auto;
}
.title-jugabilidad, .title-historia, .title-lanzamiento, .title-reserva{
    padding-bottom: 5px;
    font-size: 30px;
}
hr{
    border: 0; 
    height: 2px;
    background: linear-gradient(90deg, rgba(101,92,255,1) 0%, rgba(217,134,255,1) 100%);
}
.about-jugabilidad, .about-historia, .countdown{
    padding-top: 10px;
}
.history-photo{
    width: 38%;
    position: absolute;
    left: 47%;
    top: 45%;
}
.title-lanzamiento, .countdown, .title-reserva{
    text-align: center;
}
.reservar{
    background: #1b1b1b;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
}